<!DOCTYPE html>

<html>
    <head>
        <title>Government Health Schemes</title>
        <link href="../style.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1>Government Health Schemes</h1>
            <div style="text-align: right">
                <ul>
                    <a style="color:burlywood;padding: 5px" href="/home">Home</a>
                    <a style="color:burlywood;padding: 5px" href="/home">Consult Doctor</a>
                    <a style="color:burlywood;padding: 5px" href="/home">Suggest Scheme</a>
                    <a style="color:burlywood;padding: 5px" href="/home">Language Selection</a>
                    <a style="color:burlywood;padding: 5px" href="/">Logout</a>
                </ul>
            </div>
        </header>
        <div class="cards">
            <div class="flip-card">
                <div class="note">
                    <h1>Reproductive, Maternal, Newborn, Child and Adolescent Health (RMNCH+A)</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>Rashtriya Bal Swasthya Karyakram (RBSK)</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>Rashtriya Kishor Swasthya Karyakram</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>Shishu Suraksha Karyakaram</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>National AIDS Control Organisation</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>Revised National TB Control Programme</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>National Leprosy Eradication Programme</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                </div>
            </div>
            <div class="flip-card">
                <div class="note">
                    <h1>Integrated Child Development Service</h1>
                    <a class="linkref" href="/scheme1">Click Here to Know more...</a>
                    <div id="root"></div>
                </div>
            </div>
        </div>
        <script src="./components/footer.js" type="module"></script>
    </body>
</html>