<!DOCTYPE html>

<html>
    <head>
        <title>Government Health Schemes</title>
        <link href="../style.css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <header>
                <h1>Government Health Schemes</h1>
                <div style="text-align: right">
                    <ul>
                        <a style="color:burlywood;padding: 5px" href="/home">Home</a>
                        <a style="color:burlywood;padding: 5px" href="/home">Consult Doctor</a>
                        <a style="color:burlywood;padding: 5px" href="/home">Download</a>
                        <a style="color:burlywood;padding: 5px" href="/home">Language Selection</a>
                        <a style="color:burlywood;padding: 5px" href="/home">Back</a>
                    </ul>
                </div>
            </header>
            <h1 style="text-align: center;background-color: grey;padding: 16.2px 0px 16.2px;">Reproductive, Maternal, Newborn, Child and Adolescent Health (RMNCH+A)</h1>
            <p style="font-size: 25px;margin: 20px;font-weight: bold;">Description</p>
            <div style="padding: 0px 60px;text-align: justify;font-size: 18px;">
                <span>
                    <strong>Reproductive, Maternal, Newborn, Child and Adolescent Health (RMNCH+A)</strong>
                    programme essentially looks to address the major causes of mortality among women and children as well as the delays in accessing and utilizing health care and services. It also introduces new initiatives like the use of Score Card to track health performance, National Iron + Initiative to address the issue of anemia across all age groups and the Comprehensive Screening and Early interventions for defects at birth, diseases, and deficiencies among children and adolescents
                </span>
            </div>

            <p style="font-size: 25px;margin: 20px;font-weight: bold;">Steps to Apply</p>
            <strong style="padding: 0px 60px;font-size: 18px">Visit the Government website for more Information</strong>

            <p style="font-size: 25px;margin: 20px;font-weight: bold;">Link to apply for the Scheme</p>
            <a style="padding: 0px 60px;font-size: 18px" href="https://nhm.gov.in/index1.php?lang=1&level=1&sublinkid=794&lid=168">Reproductive, Maternal, Newborn, Child and Adolescent Health (RMNCH+A)</a>
        </div>
    </body>
</html>