<div style="text-align: center">
    <h1 style="margin: 30px;background-color: lightblue;">SignUp</h1>
    
    <div style="box-shadow: 0 2px 5px #ccc;height: 230px;width: 270px;margin: 0px 560px;">
        <form action="/login" method="POST" >
            <div style="padding: 40px 10px 0px 15px">
                <label for="username">UserName</label>
                <input type="text" placeholder="username" name="username">
            </div>
            <div style="padding: 15px 10px 0px 10px">    
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password">
            </div>
            <div style="padding: 15px 10px 30px 5px">    
                <label for="password">Email Id</label>
                <input type="text" placeholder="email" name="password">
            </div>
            <div style="box-shadow: 0 2px 5px #ccc; background-color: lightgray; margin: 0px 100px;height: 20px;border:solid;border-width:1px;border-radius: 2px;">
                <a href="/">SignUp</a>
            </div>
        </form>
        <a href="/">Login</a>
    </div>
</div>