<div style="text-align: center">
    <h1 style="margin: 30px;background-color: lightblue;">Login</h1>
    
    <div style="box-shadow: 0 2px 5px #ccc;height: 230px;width: 270px;margin: 0px 560px;">
        <form action="/login" method="POST" >
            <div style="padding: 40px 10px 0px 10px">
                <label for="username">UserName</label>
                <input type="text" placeholder="username" name="username">
            </div>
            <div style="padding: 15px 10px 30px 10px">    
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password">
            </div>
            <button><a href="/home">Login</a></button>
            <p>Don't have an account!</p>
            <a href="/register">SignUp</a>
        </form>
    </div>
</div>